:root {
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;

  /* BG colors */
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --button-bgc: #f5f4fa;
  --team-bgc: #f5f4fa;
}

/* 
Base styles */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}
/* reset end */

/* Header */
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid var(--secondary-bgc);
}

.site-nav {
  display: flex;
  align-items: center;
}
.logo-nav {
  color: var(--accent-color);
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  margin-right: 93px;
}

.logo-nav > span {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
  gap: 50px;
}
.nav-list :hover,
.nav-list :focus {
  color: var(--accent-color);
}
.nav-item.current {
  color: var(--accent-color);
}
.nav-item {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts-mail {
  color: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contacts-mail:focus,
.contacts-mail:hover {
  color: var(--accent-color);
}

.contacts-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02;
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--accent-color);
}

/* Main studio*/

/* Загальна настройка заголовків */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

/* Hero */
.section-hero {
  background-color: var(--secondary-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 160px;
  min-height: 38px;
  display: inline-block;
}

.hero-button:hover,
.hero-button:focus {
  color: #188ce8;
}
/* Preference section*/
.preference {
  padding-top: 92px;
}

.preference .container {
  padding: 0 215px;
}

.preference-list {
  display: flex;
  gap: 30px;
}

.preference-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.preference-text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Examples section */
.examples {
  padding-top: 94px;
}
.examples-list {
  display: flex;
  gap: 32px;
  padding-top: 50px;
}
/* Team section */
.team {
  background-color: var(--team-bgc);
  padding-top: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  padding-bottom: 30px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
/* Main Portfolio*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-portfolio {
  background-color: var(--primary-bgc);
}
/* Filters section */
.filters-item {
  color: var(--title-text-color);
  background-color: var(--button-bgc);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  border-radius: 4px;
  font-family: inherit;

  border-radius: 4px;
  padding: 4px 20px;
  min-width: 160px;
  min-height: 40px;
}

.filters-item:hover,
.filters-item:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.title-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* Footer */
.logo-footer {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.logo-footer > span {
  color: var(--secondary-text-color);
}

.footer-bgc {
  background-color: var(--secondary-bgc);
}

/* Footer contacts */
.contacts {
  font-style: normal;
  line-height: calc(24 / 14);
  margin-bottom: 9px;
}
.contacts-footer-address {
  color: var(--secondary-text-color);
}

.contacts-footer-mail {
  color: inherit;
  font-size: 14px;
}
.contacts-footer-mail:hover,
.contacts-footer-mail:focus,
.contacts-footer-tel:hover,
.contacts-footer-tel:focus {
  color: var(--accent-color);
}
.contacts-footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-bottom: 0;
}
